.id1
{
width:max-content;
border-radius: 10mm;
background: rgba(255, 0, 0, 0);
border: rgba(0, 0, 0, 0);
font:bolder 25px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: rgb(254, 255, 255);
cursor:pointer;
}
.imgg
{
width: 3cm;
align-items: center;
background-size: cover;
}
