body
{
    
    background-size: cover;
    border-radius: 10mm;
    background-color: rgba(0, 0, 0, 0.829);
    font-size: 1cm;
    display: flexbox;
    position: inherit;
}
body >center > img
{
    height: 5cm;
    width: 5cm;
    margin-top: 5mm;
    
}
div
{
    
    color: rgb(255, 255, 255);
     text-align: left;
     margin-left: 30mm;
}
.textbox
{
    border-radius: 20mm; 
    background-color: rgba(12, 206, 240, 0.349);
    position: inherit;
    border: rgba(255, 255, 240, 0);
    tab-size: inherit;
}
.tablecss
{   border-color: ivory;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}