body{
    text-decoration-color: white;
    color: white;
    background:url(bg.jpg) repeat-y content-box ;
    background-size: cover;
   width: auto;
   font-size: 1em;
    
}

li {
    color: white;
    float:inherit;
   display: inline;
  }
  ul{
    color: white;
    margin: 0;
    padding: 0 auto;
    
    margin:auto;
    float: left;
    max-width:none;
    text-align: justify;
    align-self:center;
  }
  p,ul{
    background-color: rgba(255, 255, 255, 0.267);
    background-origin:border-box;
    border-radius: 10mm ;
    border-left: 6px solid white;
    border-right: 6px solid white;
  }
  li{
    border-radius: 10mm;
    margin-left: 20px;
    margin-right: center;
  
  }
  