body{
    text-decoration-color: white;
    color: white;
    background:url(bg.jpg) repeat-y content-box ;
    background-size: cover;
   width: auto;
   font-size: 1em;
    
}

li {
    color: white;
    float:left;
    list-style-type: none;
    display: inline;
  }
  ul{
    color: white;
    margin: 0;
    padding: 0 auto;
    display: table;
    margin:auto;
    float: left;
    width: 97%;
    text-align: justify;
    
  }
  p,ul{
    background-color: rgba(255, 255, 255, 0.267);
    background-origin:border-box;
    border-radius: 10mm ;
    border-left: 6px solid white;
    border-right: 6px solid white;
    align-items:center;
    align-content: center;
    
  }
  li{
    border-radius: 10mm;
    margin-left: 20px;
    margin-right: center;
  
  }
  