body{
    text-decoration-color: white;
    color: white;
    background:url(bg.jpg) repeat-y content-box;
    
}

li {
    color: white;
    float:left;
    list-style-type: none;
    display: inline;
  }
  ul{
    color: white;
    margin: 0;
    padding: 0 auto;
    display: table;
    float: left;
   
  }
  p,li{
    background-color: rgba(255, 255, 255, 0.267);
    background-origin:border-box;
    border-radius: 10mm ;
    border-left: 6px solid white;
    align-self:flex-start;
    align-content: flex-start;
  }